{
    "contestants": [
        {
            "name":"tomte",
            "session_token":"session_token"
        },
        {
            "name": "tomte2",
            "session_token": "session_token"
        }
    ],
    "proxies": [
        "http://localhost:8081",
        "http://localhost:8082"
    ]
}