
    {{ $league := . }}
    <div class="Wrapper">
        <div class="Header">
            <h1 class="Title">Alterna Freshness League</h1>
            <div class="Profiles">
                {{range $_, $result := .PlayerResults}}
                <div class="Profile">
                    <h3 class="ProfileTitle">
                        <span><strong>{{$result.NsoName}}</strong>
                        </span>
                    </h3>
                    <ul class="ProfileList">
                        <svg class="NamePlateWrapper" width="300" viewBox="0 0 700 200" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <clipPath id="roundedCorner">
                                    <rect width="700" height="200" x="0" y="0" rx="6"></rect>
                                </clipPath>
                                <pattern id="loading" x="0" y="0" width="100" height="100"
                                    patternUnits="userSpaceOnUse">
                                    <image
                                        href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH4AAAB+BAMAAAAQDbi7AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURUdwTCovNSktNSguNCkuNYwBCSkAAAAEdFJOUwAw73+OpACEAAABD0lEQVRYw+3YyRHDQAhEUaqUgFNwDopANfnHZK3WLICgOYq+/3r3Jmo2FX1f0jfr+fLR8+STTz755JN/B08xfqIYP1OMLxTjH/pHXu+feb1/5tXewKu9gdd6C6/1Fl7pTbzSm3i5t/Fyb+PF3siLvZGXeisv9VZe6M280Jt5vrfzfG/n2d7Bs72D53oPz/UenuldPNO7+LH38WPv44feyQ+9k+97L9/3Xr7r3XzXu/m29/Nt7+ebHuCbHuDrHuHrHuGrHuKrHuLvHuPvHuP/Pcj/e5C/epS/epQ/e5g/e5g/epw/epzf+wC/9wF+6yP81kf4tQ/xax/iC8X4QjG+UIxfKM+R5JNPPvnkk38d/wN/jSbfyu0MvgAAAABJRU5ErkJggg=="
                                        width="100" height="100"></image>
                                </pattern>
                            </defs>
                            <g opacity="1">
                                <image clip-path="url(#roundedCorner)" width="700" height="200" x="0" y="0"
                                    href="{{$result.NamePlate.BackgroundImageURL}}">
                                </image><text x="0" y="43" width="672" height="30" fill="rgba({{$result.NamePlate.TextR}}, {{$result.NamePlate.TextG}}, {{$result.NamePlate.TextB}}, {{$result.NamePlate.TextA}})"
                                    transform="translate(18,0) skewX(-5) scale(1,1)" font-size="36px">{{$result.ByName}}</text><text x="0" y="119" width="592" height="48" text-anchor="middle"
                                    class="NamePlate" fill="rgba({{$result.NamePlate.TextR}}, {{$result.NamePlate.TextG}}, {{$result.NamePlate.TextB}}, {{$result.NamePlate.TextA}})" font-size="65px"
                                    transform="translate(350,0) scale(1,1)">{{$result.Name}}</text><text x="24.5" y="184"
                                    width="463" height="20" fill="rgba({{$result.NamePlate.TextR}}, {{$result.NamePlate.TextG}}, {{$result.NamePlate.TextB}}, {{$result.NamePlate.TextA}})" font-size="24px">#{{$result.NameId}}</text>
                                {{$x := 480.5}}
                                {{range $_, $badge := $result.NamePlate.BadgeURLs}}
                                <image x="{{$x}}" y="127.5" width="69" height="69"
                                    href="{{$badge}}">
                                </image>
                                {{$x = badgeinc $x}}
                                {{end}}
                            </g>
                        </svg>
                        <div class="ScoreStatusWrapper"><img class="UserIcon"
                                src="{{$result.NsoImageUrl}}"
                                alt="deeshu"><span class="ScoreStatusItem"><span
                                    class="ScoreStatusLabel">Rank</span><span
                                    class="ScoreStatusValue">{{if eq $result.Rank 1}}<strong>{{$result.Rank}}</strong>{{else}}{{$result.Rank}}{{end}}</span></span><span
                                class="ScoreStatusItem"><span class="ScoreStatusLabel">Score</span><span
                                    class="ScoreStatusValue">{{if eq $result.Rank 1}}<strong>{{$result.TotalScore}}</strong>{{else}}{{$result.TotalScore}}{{end}}</span></span><span
                                class="ScoreStatusItem"></span>
                        </div>
                        <div class="ScoreSummaryWrapper">
                            <div>
                                <div class="ScoreSummaryItem">
                                    <div class="ScoreSummaryLabel">Exploration rate</div>
                                    <div class="ScoreSummaryValue">{{percentageFormat $result.ExplorationRate}}</div>
                                </div>
                            </div>
                            <div>
                                <div class="ScoreSummaryItem">
                                    <div class="ScoreSummaryLabel">Freshness</div>
                                    <div class="ScoreSummaryValue">{{$result.Freshness}}</div>
                                </div>
                            </div>
                            <div>
                                <div class="ScoreSummaryItem">
                                    <div class="ScoreSummaryLabel">Best site</div>
                                    <div class="ScoreSummaryValue">{{(index $league.World.Sites (arrayIndex $result.BestSite)).SiteName}}</div>
                                </div>
                            </div>
                            <div>
                                <div class="ScoreSummaryItem">
                                    <div class="ScoreSummaryLabel">Worst site</div>
                                    <div class="ScoreSummaryValue">{{(index $league.World.Sites (arrayIndex $result.WorstSite)).SiteName}}</div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                {{end}}
            </div>
        </div>
        <div id="SitesInner" class="Sites" >
        {{range $_, $site := .World.Sites}}
            <div class="Site">
                <div class="SiteHeader">
                    <h3 class="SiteName">Site {{$site.SiteNumber}} <strong>{{$site.SiteName}}</strong></h3>
                </div>
                <p class="SiteWinner">Site winner: <strong>{{siteWinner $league.PlayerResults $site.SiteNumber}}</strong></p>
                <div class="SiteTable">
                    <div class="SiteImageHeader"><img class="SiteImage"
                            src="{{$site.ImageURL}}"
                            alt="{{$site.SiteName}}"></div>
                    <div class="ClearedStageRow HeaderFooter">
                        <h4 class="StageTableRowLabel"></h4>
                        {{range $_, $result := $league.PlayerResults}}
                        <div class="StageColumnLabel">{{$result.Name}}</div>
                        {{end}}
                    </div>
                    {{range $_, $stage := $site.Stages}}
                    <div class="ClearedStageRow">
                        <h4 class="StageTableRowLabel">{{if $stage.IsBoss}}<img class="StageTableBossLabel"
                                    src="https://api.lp1.av5ja.srv.nintendo.net/static/media/boss.7fbbbc8cda052f8a0d43887d8f13e24a.svg"
                                    alt="Boss Stage">{{else}}{{$stage.StageNumber}}{{end}}</h4>
                        {{range $_, $result := $league.PlayerResults}}
                        {{if hasStageResult $result $site.SiteNumber $stage.StageNumber}}
                        {{$stageResult := index (index $result.ResultBySite $site.SiteNumber).ResultByStage $stage.StageNumber}}
                        <div class="StageTime{{if eq $stageResult.Rank 1}} Win{{end}}">{{formatTime $stageResult.Time}} {{$stageResult.Score}}p</div>
                        <div class="StageWeaponImage"><span style="width: 30px; height: 30px;"
                                class="RoundIconWrapper{{if or (eq $stageResult.WeaponCategory "SUB") (eq $stageResult.WeaponCategory "SPECIAL")}} RoundSquareIconWrapper ClearedStageSquareIcon{{end}}"><img
                                    src="{{$stageResult.WeaponImageURL}}"
                                    alt="{{$stageResult.WeaponName}}"></span></div>
                        {{else}}
                        <div class="StageColumnLabel">no data</div>
                        {{end}}
                        {{end}}
                        <div class="StageNameSliderWrapper">
                            <div 
                                class="StageNameSlider">
                                <div class="StageNameWrapper"><span
                                        class="StageName">{{$stage.StageName}}</span><span class="StageText">{{$stage.Description}}</span></div>
                                <div class="StageNameWrapper"><span
                                        class="StageName">{{$stage.StageName}}</span><span class="StageText">{{$stage.Description}}</span></div>
                                <div class="StageNameWrapper"><span
                                        class="StageName">{{$stage.StageName}}</span><span class="StageText">{{$stage.Description}}</span></div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                    <div class="ClearedStageRow HeaderFooter">
                        <h4 class="StageTableRowLabel">Total</h4>
                        {{range $_, $result := $league.PlayerResults}}
                        <div class="StageColumnLabel{{if eq (siteRank $result $site.SiteNumber) 1}} Win{{end}}">{{siteScore $result $site.SiteNumber}}p</div>
                        {{end}}
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        <div class="Footer">
            <span>This project is not affiliated with Nintendo.</span>
            <span>All product names, logos, images, fonts, and brands are property of their respective owners.</span>
            <br>
            <a class="github-button" href="https://github.com/ragadeeshu/alterna-freshness-league" data-show-count="true" aria-label="Star ragadeeshu/alterna-freshness-league on GitHub">Star</a>
            <a class="github-button" href="https://github.com/ragadeeshu/alterna-freshness-league/issues" data-icon="octicon-issue-opened" aria-label="Issue ragadeeshu/alterna-freshness-league on GitHub">Issue</a>
        </div>
    </div>